/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */
body {
	text-align:center;
	background-image:url("background_img.jpg");
	background-repeat:no-repeat;
	background-size:cover;

}

#body {
	background-image:url("gold_background.jpg");
}

h1 {
	font-size:2.3em;
	color:#FFC200;
	text-shadow:2px 2px #666;
}
h2 {
	color:#ffd700;
	text-shadow:2px 2px #666;
}

.card {
	height:200px;
	width:150px;
	border:1px solid black;
	background-color:yellow;
	border-radius:10px;
	float:left;
	margin:6%;
} 

#name {
	color:yellow;
}

nav {
	background-color:#808080;
}

nav a {
	color:yellow;
	padding:35px;
	display:block;
	float:left;;
}

nav a:hover {
	background-color:#ee5f3c;
	color:#808080;
}

.clearfix:after {
	visibility:hidden;
	display:block;
	content:" ";
	clear:both;
	height:0;
	font-size:0;
}

#info {
	margin-top:30px;
}

#info li {
	list-style:none;
	display:inline-block;
	margin:0 60px;
}



footer {
	background-color:#808080;
	margin-top:25px;
}

img {
	height:200px;
	width:150px;
	border:1px solid black;
	background-color:yellow;
	border-radius:10px;
}

.goodLuck {
	height:100%;
	width:30%;
	border-radius:15%;
	padding-margin:200px;
}

.bigger {
	font-size: 1.5em;
}

#game-board {
	width:100%;
	min-width:880px;
	max-width:900px;
	margin:0 auto;
}


#yellow {
	color:yellow;
}

.active {
	background-color:#ee5f3c;

}




@media (max-width: 800px) {
	#info li {
		display:block;
	}
}











